*.class

# Package Files #
*.jar
*.war
*.ear
target/

# IDE Files #
.classpath
.project-files
.idea
*.iml
.settings
.project
.buildpath

#bower stuff
chronicle-app/common/lib

#npm stuff
chronicle-app/node_modules

#generated
chronicle-app/dist
chronicle-app/.tmp
chronicle-app/.sass-cache

