*.class

# Package Files #
*.jar
*.war
*.ear
target/

# IDE Files #
.classpath
.project-files
.idea
*.iml
.settings
.project


chronicle-app/node_modules
chronicle-app/dist
chronicle-app/.tmp
chronicle-app/.sass-cache
chronicle-app/app/bower_components
